
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="~/content/base.css" rel="stylesheet" />
    <link href="~/content/Index.css" rel="stylesheet" />
</head>
<body>
    <div class="head">
        <img src="" alt="">
    </div>
    <div class="topHead">
        <a href="javascript:void(0);">注册</a><a href="javascript:void(0);">登录</a>
    </div>
    <div class="courseList">
        <span class="left">在线答疑</span>
    </div>
    <div class="tableListHead">
        <span class="right">课程列表</span>
    </div>
    <div class="tableHead">
        <div class="head">
            <div class="column">课程</div>
            <div class="column">问题</div>
            <div class="column">回复</div>
            <div class="column">最后发表</div>
        </div>
        <div class="row">
            <div class="column1">
                <div class="title">JAVA程序设计</div>
                <div class="title1">课程号:[10000]---计算机与自动控制学院</div>
            </div>
            <div class="column2">0</div>
            <div class="column3">0</div>
            <div class="column4">C++很难么?应该怎么样学习呢 by 刘老师 2016-5-24 20:31:12</div>
        </div>
        <div class="row">
            <div class="column1">
                <div class="title">JAVA程序设计</div>
                <div class="title1">课程号:[10000]---计算机与自动控制学院</div>
            </div>
            <div class="column2">0</div>
            <div class="column3">0</div>
            <div class="column4">C++很难么?应该怎么样学习呢 by 刘老师 2016-5-24 20:31:12</div>
        </div>
        <div class="row">
            <div class="column1">
                <div class="title">JAVA程序设计</div>
                <div class="title1">课程号:[10000]---计算机与自动控制学院</div>
            </div>
            <div class="column2">0</div>
            <div class="column3">0</div>
            <div class="column4">C++很难么?应该怎么样学习呢 by 刘老师 2016-5-24 20:31:12</div>
        </div>
        <div class="row">
            <div class="column1">
                <div class="title">JAVA程序设计</div>
                <div class="title1">课程号:[10000]---计算机与自动控制学院</div>
            </div>
            <div class="column2">0</div>
            <div class="column3">0</div>
            <div class="column4">C++很难么?应该怎么样学习呢 by 刘老师 2016-5-24 20:31:12</div>
        </div>
    </div>
</body>
</html>