
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userInfo</title>
</head>
<body>
    <div class="head">
        <img src="" alt="">
    </div>
<div class="topHead">
    <a href="javascript:void(0);">小丸子</a><a href="javascript:void(0);">退出</a>
</div>
<div class="courseList">
    <span class="left">在线答疑</span>>><span class="right">个人资料</span>
</div>
<div class="center">
    <div class="left">
        <div class="title">
            <span>个人管理</span>
        </div>
        <div class="list">
            <ul>
                <li>我的资料</li>
                <li>修改密码</li>
                <li>我的课程</li>
                <li>我的提问</li>
                <li>我的申请</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="title">
            <span>个人资料</span>
        </div>
        <div class="rows">
            <span class="left">UID:</span><span class="right">7</span>
        </div>
        <div class="rows">
            <span class="left">用户名:</span><span class="right">小丸子</span>
        </div>
        <div class="rows">
            <span class="left">性别:</span><span class="right">女</span>
        </div>
        <div class="rows">
            <span class="left">注册日期:</span><span class="right">2016-5-24 23:17:53</span>
        </div>
        <div class="rows">
            <span class="left">最后登陆:</span><span class="right">2016-5-24 23:18:18</span>
        </div>
        <div class="rows">
            <span class="left">电子邮箱:</span><span class="right">sw.gloomysw@gmail.com</span>
        </div>
    </div>

</div>
    <div class="bottom"></div>
</body>
</html>
